*{
    margin: 0;
    padding: 0;

}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* định dạng trái - phải - giữa theo hàng */
    justify-content: flex-start;
    /* khoảng cách giữa các item: hàng cột */
    gap: 10px 30px;
}

.container-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* định dạng trái - phải - giữa theo hàng */
    justify-content: space-evenly;
    /* khoảng cách giữa các item: hàng cột */
    gap: 30px 30px;
}


.container .item{
    min-height: 100px;
    /* hàm tính toán để dùng min-width 50% và gap 30px không bị xuống hàng */
    /* min-width: calc(50% - 15px); */
    min-width: 20%;
    flex-grow: 1;
    background-color: red;
    font-size: 5rem;
    color: white;
    text-align: center;
    order: 1;
}

.container .item-3{
    /* order: 4; */
    /* độ rộng của item, giá trị width = px dễ thấy rõ hơn là dùng % */
    flex-grow: 4;
}

.container .item:nth-child(2n+1){
    background-color: blue;
}

