h1{
    color: rgb(20, 52, 176);
}

h2{
    color: royalblue ;
}

#text-lab{
    color: rebeccapurple;
    font-size: xx-large;
    border-bottom: 5px double red;
}

.text-center{
    text-align: center;
}

.m-3{
    margin: 30px;
}

.m-1{
    margin: 10px;
}

.border{
    border: 5px solid palevioletred;
}

.p-3{
    padding: 30px;
}

.border-lightblue{
    border-color: blue;
}

.border-5{
    border: 5px;
}

.p-1{
    padding: 1px;;
}