.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header > div{
    min-width: 200px;
}

.header .logo{
    padding-left: 100px;
}

.header .menu{
    padding-right: 300px;
}

.header .menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0px;
}

.header .menu ul li{
    padding: 10px;
    margin: 0px 5px 0px 0px;
    line-height: 1.6;
    font-size: 1rem;
}

.header .menu ul li:last-child{
    margin: 0px;
}

.header .menu ul li:hover{
    border-bottom: 2px solid palevioletred;
}

.banner{
}

.header2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1px;
    padding-bottom: 10px;
}

.header2 > div{
    flex-grow: 1;
}

.header3{
    padding-left: 20%;
    padding-bottom: 50px;
}

.header4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: yellow;
    padding: 0px;
}

.header4 ul li{
    list-style: none;
    font-weight: bold;
}

.header2 div img{
    width: 100%;
}
